* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(37,94,233,255);
    color: white;
    height: 4rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav1{
    background-color: rgba(37,94,233,255);
    padding-top: 0.3rem;
    display: flex;
    align-items: center;
    height: 3rem;
    width: 20%;
}

.nav2 {
    background-color: rgba(37,94,233,255);
    padding-top: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 40%;
    text-align: center;
    
}

.nav3 {
    background-color:rgba(37,94,233,255);
    padding-top: 0.3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: ;
    height: 3rem;
    width: 20%;
}


.container1 {
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 20rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    color: white;
}

.pink{
    background-color: rgba(255, 192, 203, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 10rem;
    max-width: 40rem; 
}

.buttonbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
    width: 19rem;
}

.container2 {
    background-color: white;
    height: 20rem;
    display: flex;
    justify-content:center;
    margin-bottom: 12rem;
}

.blubox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 149, 255);
    height: 16rem;
    width: 45rem;
}

.blu {
    background-image: url(img/item1.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 28rem;
    min-width: 45rem;
}

.pinkbox {
    background-color: pink;
    height: 16rem;
    width: 20%;
}

.rosa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 24rem;
    min-width: 18rem;
}

.rosa h1 {
    margin-bottom: 2rem;
}

.container3 {
    background-color: rgb(128, 128, 128, 0.2);
    min-height: 20rem;;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-bottom: 10rem;
}

.blu2 {
    background-image: url(img/item2.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 28rem;
    min-width: 45rem;
}

.rosa2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 18rem;
    min-width: 18rem; 
}

.rosa2 h1 {
    margin-bottom: 2rem;
}

.blu3 {
    background-image: url(img/item3.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 28rem;
    min-width: 45rem;
}

.rosa3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 24rem;
    min-width: 18rem;
}

.rosa3 h1 {
    margin-bottom: 2rem;
}



.bigcontainer {
    background-color: rgb(128, 128, 128, 0.2);
    min-height: 40rem;
    min-width: 50rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

h2 {
    margin-top: 5rem;
}

.bigbox {
    background-image: url(img/item4-big.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 36rem;
    min-width: 63rem;
}

.button2 {
    width: 10rem;
    height: auto;  
}

.macbottone {
    align-items: center;
    margin: 2rem;
}

.container4 {
    background-color: rgb(0, 27, 23);
    display: flex;
    justify-content:center;
    min-height: 20rem;
    padding-top: 2rem;
}

.insidebox1 {
    background-color: rgb(0, 27, 23);
    color: white;
    min-height: 16rem;
    min-width: 30rem;
}

.insidebox2 {
    background-color: rgb(0, 27, 23);
    color: white;
    min-height: 16rem;
    min-width: 10rem;
}

footer {
    background-color: rgb(0, 27, 23);
    color: white;
    height: 4rem;
    display: flex;
    justify-content:center;
    align-items: center;
}

.footerbox {
    background-color: rgb(0, 27, 23);
    color: white;
    height: 3rem;
    width: 70%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: rgb(128, 91, 201); 
    color: white;
    padding: 3px; 
    border-radius: 20px;
}


